body {
    background-color: blue;
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
    }
}

@media only screen and (max-width: 800px) {
    body {
      background-color: green;
    }
}

@media only screen and (max-width: 600px) {
    body {
      background-color: pink;
    }
}
  
@media only screen and (max-width: 400px) {
    body {
      background-color: grey;
    }
}

@media only screen and (max-width: 200px) {
    body {
      background-color: yellow;
    }
}
  
  